PORT =

MONGODB_USER =
MONGODB_PASSWORD =
MONGODB_URL =
MONGODB_DB =

# mongodb+srv://<MONGODB_USER>:<MONGODB_PASSWORD>
# @<MONGODB_URL>/<MONGODB_DB>
# /?retryWrites=true&w=majority&appName=Cluster0

# Brevo
SMTP_HOST =
SMTP_PORT =
SMTP_USER =
SMTP_PASSWORD =
SMTP_FROM =

# Reset password - sing secret
JWT_SECRET =

# Uploaded files domain
APP_DOMAIN =

# Cloudinary
CLOUD_NAME =
API_KEY =
API_SECRET =

# if true file will be downloaded to cloudinary
# false for opposite
ENABLE_CLOUDINARY =

# Google cloud console
GOOGLE_AUTH_CLIENT_ID =
GOOGLE_AUTH_CLIENT_SECRET =
